main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    left: 1rem
}

.flash {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem auto;
    border-radius: 5px;
    width: 450px;
    color: #FFFFFF;
}

.flash-success {
    background-color: darkgreen
}
.flash-error {
    background-color: #B0413E;
}

.errorForm > ul >li {
    list-style-type: none;
    font-weight: bold;
    font-size: 0.8em;
    color: #B0413E;
}
.img-profil{
    width: 280px;
    height: 280px;
    object-fit: cover;
}

#sortie-detail-liste-participants {
    position: relative;
    max-height: 250px;
    overflow: auto;
}
.btnAddLieu{
    height: 24px;
    box-sizing: content-box;
}
.cadre-table-scroll {
    display: inline-block;
    max-height: 50vh;
    overflow-y: scroll;
}
.table-scroll{
    height: 100%;
}
.table-scroll thead {
    position: sticky;
    top: 0;
    z-index: 100;
}
.table-scroll tbody {
    z-index: 1;
}
.table-scroll tfoot {
    position: sticky;
    bottom: 0;
    z-index: 100;
}
nav{
    z-index: 9999;
}