main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    left: 1rem
}

.flash {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem auto;
    border-radius: 5px;
    width: 450px;
    color: #FFFFFF;
}

.flash-success {
    background-color: darkgreen
}
.flash-error {
    background-color: #B0413E;
}

.errorForm > ul >li {
    list-style-type: none;
    font-weight: bold;
    font-size: 0.8em;
    color: #B0413E;
}
.img-profil{
    width: 280px;
    height: 280px;
    object-fit: cover;
}