main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    left: 1rem
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {background-color: lawngreen}

.errorForm > ul >li {
    list-style-type: none;
    font-weight: bold;
    font-size: 0.8em;
    color: #B0413E;
}