<div class="row">
    <label class="col-5 my-2 col-form-label">Rue</label>
    <div class="col-5">
        <p class="form-control">{{ lieu.rue }}</p>
    </div>
</div>
<div class="row">
    <label class="col-5 my-2 col-form-label">Code Postal</label>
    <div class="col-5">
        <p class="form-control">{{ lieu.ville.codePostal }}</p>
    </div>
</div>